<ion-header>
  <ion-toolbar color = "mustard">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label position ="floating">Title</ion-label>
  <ion-input type="text" [(ngModel)]= "post.title" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position ="floating">Details</ion-label>
  <ion-textarea type="text" [(ngModel)]= "post.details" required></ion-textarea>
</ion-item>

<ion-button 
class="ion-padding" 
color="warning" 
expand="full"
(click) = "updatePost(post)"
> 
Update</ion-button>


</ion-content>