ion-item-sliding {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}



.ion-color-mustard {
  --ion-color-base: var(--ion-color-mustard);
  --ion-color-base-rgb: var(--ion-color-mustard-rgb);
  --ion-color-contrast: var(--ion-color-mustard-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mustard-contrast-rgb);
  --ion-color-shade: var(--ion-color-mustard-shade);
  --ion-color-tint: var(--ion-color-mustard-tint);
}

.ion-label p try {

  font-size: 11px;


}