
.ion-color-mustard {
    --ion-color-base: var(--ion-color-mustard);
    --ion-color-base-rgb: var(--ion-color-mustard-rgb);
    --ion-color-contrast: var(--ion-color-mustard-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mustard-contrast-rgb);
    --ion-color-shade: var(--ion-color-mustard-shade);
    --ion-color-tint: var(--ion-color-mustard-tint);
  }